<!DOCTYPE html>
<html>
  <head>
    <title>My LED Control Page</title>
    <link rel="icon" href="/static/img/rgb.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>
    <link rel="stylesheet" href="static\main.css" />
    <script src="static\index.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
          <h1>LED Control</h1>
      </div>
      <div class="main">
        <div class="wrap">
          <div class="colorPicker"></div>
      </div>
      </div>
      <div class="main2">
        <div class="half-readout">
          <div id="values"></div>
          <input id="hexInput"></input>
          <input class="switch" type="checkbox" id="switch">
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
